{
 :paths ["src"]
 
 :deps {org.clojure/clojure     {:mvn/version "1.10.1"}
        metosin/reitit          {:mvn/version "0.3.9"}
        ring/ring-jetty-adapter {:mvn/version "1.7.1"}
        integrant               {:mvn/version "0.7.0"}
        integrant/repl          {:mvn/version "0.3.1"}
        }

 :aliases
        {:dev
         {:extra-paths ["dev"]}

         :migration
         {:main-opts ["-m" "comment.migration"]}

         :test
         {:extra-paths ["test"]
          :extra-deps  {org.clojure/test.check {:mvn/version "0.10.0"}}}

         :runner
         {:extra-deps {com.cognitect/test-runner
                       {:git/url "https://github.com/cognitect-labs/test-runner"
                        :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
          :main-opts  ["-m" "cognitect.test-runner"
                       "-d" "test"]}}}
